.inline{
    display: inline-flex;
    align-items: center;
    padding: 15px;
}

.center {
    text-align: center;
}

.datadogheader {
	margin-left: 15px;
	font-family: 'Do Hyeon', sans-serif;
}

button {
    background: #2196F3;
    color: #bce0fb;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    letter-spacing: 0.06em;
    text-decoration: aliceblue;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
    margin-left: 15px;
}

.btn-submit:hover {
    background: rgb(25, 107, 170);
    color: #bce0fb;
}

.panel-body .btn:not(.btn-block) {
	width:120px;margin-bottom:10px;
}
.center-container {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}


@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
    font-family: "entypo", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    padding: 20px 50px;
    background: white;
}
#sticky-social {
    left: 0;
    position: fixed;
    top: 150px;
}
#sticky-social a {
    background: #333;
    color: #fff;
    display: block;
    height: 35px;
    font: 16px "Open Sans", sans-serif;
    line-height: 35px;
    position: relative;
    text-align: center;
    width: 35px;
}
#sticky-social a span {
    line-height: 35px;
    left: -120px;
    position: absolute;
    text-align:center;
    width:120px;
}
#sticky-social a:hover span {
    left: 100%;
}
#sticky-social a[class*="legacy"],
#sticky-social a[class*="legacy"]:hover,
#sticky-social a[class*="legacy"] span { background: #007bb6; }
#sticky-social a[class*="legacy"]:before{
    font-family: FontAwesome;
    content: "\f0e2";
}

#sticky-social a[class*="facebook"],
#sticky-social a[class*="facebook"]:hover,
#sticky-social a[class*="facebook"] span { background: #3b5998; }
#sticky-social a[class*="facebook"]:before{
    font-family: FontAwesome;
    content: "\f09a";
}

#sticky-social a[class*="twitter"],
#sticky-social a[class*="twitter"]:hover,
#sticky-social a[class*="twitter"] span { background: #00aced; }
#sticky-social a[class*="twitter"]:before{
    font-family: FontAwesome;
    content: "\f099";
}

#sticky-social a[class*="web"],
#sticky-social a[class*="web"]:hover,
#sticky-social a[class*="web"] span { background: #517fa4; }
#sticky-social a[class*="web"]:before{
    font-family: FontAwesome;
    content: "\f0ac";
}

#sticky-social a[class*="github"],
#sticky-social a[class*="github"]:hover,
#sticky-social a[class*="github"] span { background: #eb4924; }
#sticky-social a[class*="github"]:before{
    font-family: FontAwesome;
    content: "\f09b";
}

#sticky-social a[class*="mail"],
#sticky-social a[class*="mail"]:hover,
#sticky-social a[class*="mail"] span { background: #cc2127; }
#sticky-social a[class*="mail"]:before{
    font-family: FontAwesome;
    content: "\f0e0";
}

#sticky-social a[class*="call"],
#sticky-social a[class*="call"]:hover,
#sticky-social a[class*="call"] span { background: #ff0084;}
#sticky-social a[class*="call"]:before{
    font-family: FontAwesome;
    content: "\f095";
}


.onoffswitch3
{
    position: relative; width: 200px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch3-checkbox {
    display: none;
}

.onoffswitch3-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #999999; border-radius: 0px;
}

.onoffswitch3-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch3-inner > span {
    display: block; float: left; position: relative; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch3-inner .onoffswitch3-active {
    padding-left: 10px;
    background-color: #EEEEEE; color: #FFFFFF;
}

.onoffswitch3-inner .onoffswitch3-inactive {
    padding-right: 10px;
    background-color: #EEEEEE; color: #FFFFFF;
    text-align: right;
}

.onoffswitch3-switch {
    display: block; width: 50%; margin: 0px; text-align: center; 
    border: 0px solid #999999;border-radius: 0px; 
    position: absolute; top: 0; bottom: 0;
}
.onoffswitch3-active .onoffswitch3-switch {
    background: #27A1CA; left: 0;
}
.onoffswitch3-inactive .onoffswitch3-switch {
    background: #A1A1A1; right: 0;
}
.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
    margin-left: 0;
}
